DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/bookstore"
PORT=5000

SEPAY_MERCHANT_ID="SP-TEST-NP352446"
SEPAY_SECRET_KEY="spsk_test_mxLdFH748e9c7SoUgN5xEU738CdabPfp"
SEPAY_ENV="sandbox"
SEPAY_IPN_URL="https://your-domain.com/api/sepay/ipn"
SEPAY_SUCCESS_URL="http://localhost:5173/payment/success"
SEPAY_ERROR_URL="http://localhost:5173/payment/error"
SEPAY_CANCEL_URL="http://localhost:5173/payment/cancel"
