@import "tailwindcss";

/* Reset nhẹ */
* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Arial, sans-serif;
}

/* custom utilities nếu cần */
.container-custom {
  max-width: 1200px;
  margin: 0 auto;
}